<%- include('./partials/head.ejs') %> 
<%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nostrum dolorum cum velit magnam necessitatibus, maiores ea magni culpa totam eos distinctio ipsum similique sequi excepturi? Architecto earum sequi omnis!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nostrum dolorum cum velit magnam necessitatibus, maiores ea magni culpa totam eos distinctio ipsum similique sequi excepturi? Architecto earum sequi omnis!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nostrum dolorum cum velit magnam necessitatibus, maiores ea magni culpa totam eos distinctio ipsum similique sequi excepturi? Architecto earum sequi omnis!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nostrum dolorum cum velit magnam necessitatibus, maiores ea magni culpa totam eos distinctio ipsum similique sequi excepturi? Architecto earum sequi omnis!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae nostrum dolorum cum velit magnam necessitatibus, maiores ea magni culpa totam eos distinctio ipsum similique sequi excepturi? Architecto earum sequi omnis!</p>
    </div>
    
<%- include('./partials/footer.ejs') %> 